In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv('Salaries.csv')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148049 non-null object
OvertimePay         148654 non-null object
OtherPay            148654 non-null object
Benefits            112495 non-null object
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              38119 non-null object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

In [4]:
data.drop(['Notes'],axis=1,inplace=True)

In [6]:
data.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411,0,400184,NaN,567595.43,567595.43,2011,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966,245132,137811,NaN,538909.28,538909.28,2011,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739,106088,16452.6,NaN,335279.91,335279.91,2011,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916,56120.7,198307,NaN,332343.61,332343.61,2011,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134402,9737,182235,NaN,326373.19,326373.19,2011,San Francisco,NaN

In [7]:
data.set_index('Id')

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status
Id,,,,,,,,,,,
1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411,0,400184,NaN,567595.43,567595.43,2011,San Francisco,NaN
2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966,245132,137811,NaN,538909.28,538909.28,2011,San Francisco,NaN
3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739,106088,16452.6,NaN,335279.91,335279.91,2011,San Francisco,NaN
4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916,56120.7,198307,NaN,332343.61,332343.61,2011,San Francisco,NaN
5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134402,9737,182235,NaN,326373.19,326373.19,2011,San Francisco,NaN
6,DAVID SULLIVAN,ASSISTANT DEPUTY CHIEF II,118602,8601,189083,NaN,316285.74,316285.74,2011,San Francisco,NaN
7,ALSON LEE,"BATTALION CHIEF, (FIRE DEPARTMENT)",92492,89062.9,134426,NaN,315981.05,315981.05,2011,San Francisco,NaN
8,DAVID KUSHNER,DEPUTY DIRECTOR OF INVESTMENTS,256577,0,51322.5,NaN,307899.46,307899.46,2011,San Francisco,NaN
9,MICHAEL MORRIS,"BATTALION CHIEF, (FIRE DEPARTMENT)",176933,86362.7,40132.2,NaN,303427.55,303427.55,2011,San Francisco,NaN
10,JOANNE HAYES-WHITE,"CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",285262,0,17115.7,NaN,302377.73,302377.73,2011,San Francisco,NaN
11,ARTHUR KENNEY,"ASSISTANT CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",194999,71344.9,33149.9,NaN,299494.17,299494.17,2011,San Francisco,NaN
12,PATRICIA JACKSON,CAPTAIN III (POLICE DEPARTMENT),99722,87082.6,110804,NaN,297608.92,297608.92,2011,San Francisco,NaN
13,EDWARD HARRINGTON,EXECUTIVE CONTRACT EMPLOYEE,294580,0,0,NaN,294580.02,294580.02,2011,San Francisco,NaN
14,JOHN MARTIN,DEPARTMENT HEAD V,271329,0,21342.6,NaN,292671.62,292671.62,2011,San Francisco,NaN
15,DAVID FRANKLIN,"BATTALION CHIEF, (FIRE DEPARTMENT)",174873,74050.3,37424.1,NaN,286347.05,286347.05,2011,San Francisco,NaN
16,RICHARD CORRIEA,"COMMANDER III, (POLICE DEPARTMENT)",198778,73478.2,13957.6,NaN,286213.86,286213.86,2011,San Francisco,NaN
17,AMY HART,DEPARTMENT HEAD V,268605,0,16115.9,NaN,284720.43,284720.43,2011,San Francisco,NaN
18,SEBASTIAN WONG,"CAPTAIN, EMERGENCYCY MEDICAL SERVICES",140547,119397,18625.1,NaN,278569.21,278569.21,2011,San Francisco,NaN
19,MARTY ROSS,"BATTALION CHIEF, (FIRE DEPARTMENT)",168693,69626.1,38115.5,NaN,276434.22,276434.22,2011,San Francisco,NaN
20,ELLEN MOFFATT,ASSISTANT MEDICAL EXAMINER,257511,880.16,16159.5,NaN,274550.25,274550.25,2011,San Francisco,NaN
21,VENUS AZAR,ASSISTANT MEDICAL EXAMINER,257510,0,16679.8,NaN,274190.27,274190.27,2011,San Francisco,NaN
22,JUDY MELINEK,ASSISTANT MEDICAL EXAMINER,257510,377.21,15883.6,NaN,273771.21,273771.21,2011,San Francisco,NaN
23,GEORGE GARCIA,"CAPTAIN, FIRE SUPPRESSION",140547,93200.6,39955.2,NaN,273702.71,273702.71,2011,San Francisco,NaN
24,VICTOR WYRSCH,"BATTALION CHIEF, (FIRE DEPARTMENT)",168693,77896.1,24083.9,NaN,270672.63,270672.63,2011,San Francisco,NaN
25,JOSEPH DRISCOLL,"CAPTAIN, FIRE SUPPRESSION",140547,97868.8,31909.3,NaN,270324.91,270324.91,2011,San Francisco,NaN
26,GREGORY SUHR,CHIEF OF POLICE,256470,0,11522.2,NaN,267992.59,267992.59,2011,San Francisco,NaN
27,JOHN HANLEY,"CAPTAIN, FIRE SUPPRESSION",92080.8,40008,133696,NaN,265784.56,265784.56,2011,San Francisco,NaN
28,RAYMOND GUZMAN,"BATTALION CHIEF, (FIRE DEPARTMENT)",168693,80706.9,16064,NaN,265463.46,265463.46,2011,San Francisco,NaN
29,DENISE SCHMITT,DEPUTY CHIEF III (POLICE DEPARTMENT),261718,0,2357,NaN,264074.60,264074.60,2011,San Francisco,NaN
30,MONICA FIELDS,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",246226,0,15140.5,NaN,261366.14,261366.14,2011,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...
148625,Lorraine Rosenthal,Senior Clerk,0.00,0.00,12.89,0.00,12.89,12.89,2014,San Francisco,PT
148626,Renato C Gurion,Registered Nurse,0.00,0.00,6.00,1.24,6.00,7.24,2014,San Francisco,PT
148627,Paulet Gaines,Account Clerk,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT
148628,Brett A Lundberg,General Laborer,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT
148629,Mark W Mcclure,General Laborer,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT
148630,Elizabeth Iniguez,Transcriber Typist,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT
148631,Randy J Keys,Carpenter,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT
148632,Andre M Johnson,Communications Dispatcher 1,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT
148633,Sharon D Owens-Webster,Protective Services Worker,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT
148634,Edward Ferdinand,General Laborer,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT
148635,David M Turner,Transit Car Cleaner,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT
148636,James S Kibblewhite,General Laborer,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT
148637,Andrew J Enzi,Arborist Technician,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT
148638,Kadeshra D Green,Transit Fare Inspector,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT
148639,Lennard B Hutchinson,Electrician,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT
148640,Richard A Talbert,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT
148641,Charlene D Mccully,Parking Control Officer,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT
148642,Raphael Marquis Goins,Museum Guard,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT
148643,Dominic C Marquez,Sign Worker,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT
148644,Kim Brewer,Parking Control Officer,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT
148645,Randy D Winn,"Stationary Eng, Sewage Plant",0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT
148646,Carolyn A Wilson,Human Services Technician,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT
148647,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,San Francisco,NaN
148648,Joann Anderson,Communications Dispatcher 2,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT
148649,Leon Walker,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT
148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT
148651,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,San Francisco,NaN
148652,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,San Francisco,NaN
148653,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,San Francisco,NaN
148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,San Francisco,PT

In [7]:
data['JobTitle'].nunique()

2159

In [8]:
data['JobTitle'].value_counts()

Transit Operator                                      7036
Special Nurse                                         4389
Registered Nurse                                      3736
Public Svc Aide-Public Works                          2518
Police Officer 3                                      2421
Custodian                                             2418
TRANSIT OPERATOR                                      2388
Firefighter                                           2359
Recreation Leader                                     1971
Patient Care Assistant                                1945
Deputy Sheriff                                        1933
Police Officer                                        1476
SPECIAL NURSE                                         1402
Public Service Trainee                                1328
REGISTERED NURSE                                      1219
Police Officer 2                                      1141
Attorney (Civil/Criminal)                             1126
Porter                                                1095
Sergeant 3                                            1047
General Laborer                                       1033
EMT/Paramedic/Firefighter                              918
Gardener                                               894
Parking Control Officer                                868
Senior Clerk                                           840
Library Page                                           799
CUSTODIAN                                              796
FIREFIGHTER                                            794
POLICE OFFICER III                                     779
Clerk                                                  764
Eligibility Worker                                     760
                                                      ...
PORT DIRECTOR                                            1
Lieutenant (Police Department)                           1
DEPUTY SEALER OF WEIGHTS AND MEASURES                    1
SECRETARY, HEALTH COMMISSION                             1
FEASIBILITY ANALYST, PORT                                1
SECRETARY TO THE PRESIDING JUDGE                         1
ELECTRICAL ENGINEERING ASSOCIATE I                       1
IS TRAINER - SENIOR                                      1
CHIEF TELEPHONE OPERATOR                                 1
CEMENT FINISHER SUPERVISOR II                            1
EXECUTIVE DIRECTOR, SOUTHEAST COMMUNITY FACILITY         1
Marina Associate Manager                                 1
ELECTRIC MOTOR REPAIR SUPERVISOR I                       1
MAYOR'S PROGRAM MANAGER                                  1
HEAD AIRPORT ELECTRICIAN                                 1
PIANIST                                                  1
TRAF SIGNAL ELECTRICIAN SUP II                           1
HEAVY EQUIPMENT OPERATIONS ASSISTANT SUPERVISOR          1
PAINTER SUPERVISOR II                                    1
COURT REPORTER COORDINATOR                               1
Special Assistant 13                                     1
Public Service Aide-Technical                            1
CONFIDENTIAL SECRETARY CITY ATTORNEY                     1
SENIOR SUPERVISING PROBATION OFFICER, JUVENILE POU       1
SECRETARY, LIBRARY COMMISSION                            1
CASHIER III                                              1
POWER PLANT SUPERVISOR I                                 1
ORNAMENTAL IRON WORKER SUPERVISOR I                      1
Captain, (Fire Department)                               1
PUBLIC SAFETY COMMUNICATIONS TECHNICIAN                  1
Name: JobTitle, Length: 2159, dtype: int64

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 12 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148049 non-null object
OvertimePay         148654 non-null object
OtherPay            148654 non-null object
Benefits            112495 non-null object
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Agency              148654 non-null object
Status              38119 non-null object
dtypes: float64(2), int64(2), object(8)
memory usage: 13.6+ MB

In [10]:
for col in ['BasePay', 'OvertimePay', 'OtherPay', 'Benefits']:
    data[col] = pd.to_numeric(data[col], errors='coerce')

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 12 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148045 non-null float64
OvertimePay         148650 non-null float64
OtherPay            148650 non-null float64
Benefits            112491 non-null float64
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Agency              148654 non-null object
Status              38119 non-null object
dtypes: float64(6), int64(2), object(4)
memory usage: 13.6+ MB

What is the average BasePay ?

In [12]:
data['BasePay'].mean()

66325.44884050643

### What is the highest amount of OvertimePay in the dataset ?

In [13]:
data['OvertimePay'].max()

245131.88

### What is the job title and totalpay benefits of JOSEPH DRISCOLL ?

In [14]:
data[data['EmployeeName'] == 'JOSEPH DRISCOLL'][['JobTitle','TotalPayBenefits']]

                     JobTitle  TotalPayBenefits
24  CAPTAIN, FIRE SUPPRESSION         270324.91

### What is the name of highest paid person (including benefits)?

In [15]:
data.iloc[data['TotalPayBenefits'].idxmax()]

Id                                                               1
EmployeeName                                        NATHANIEL FORD
JobTitle            GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
BasePay                                                     167411
OvertimePay                                                      0
OtherPay                                                    400184
Benefits                                                       NaN
TotalPay                                                    567595
TotalPayBenefits                                            567595
Year                                                          2011
Agency                                               San Francisco
Status                                                         NaN
Name: 0, dtype: object

### What was the average (mean) BasePay of all employees per year? (2011-2014) ?

In [16]:
data.groupby('Year')['BasePay'].mean()

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

### How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?)

In [17]:
sum(data[data['Year'] == 2013]['JobTitle'].value_counts() == 1)

202

### How many people have the word Chief in their job title?

In [18]:
sum(data['JobTitle'].str.lower().str.contains('chief', na=False))

627